.dot {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background: pink;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    display: inline-block;
}


